apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: go-cmdiszrk
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/sjmrhtap/go-cmdiszrk:ad7eff389f0a81a3619a159d31136574d299ce8c@sha256:a46d6569b84a710217fe6589c4e8e62ca1ff04f6b90b5d939f83f96405bbd145
          name: container-image
